01_RAG.json
{
  "name": "01_RAG",
  "nodes": [
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -496,
        -16
      ],
      "id": "11b4690c-e6d4-45c3-90db-ba80f2a70411",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "6U1uHS6MefHoftAj",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "pdf",
          "mode": "list",
          "cachedResultName": "pdf"
        },
        "embeddingBatchSize": 3,
        "options": {
          "pineconeNamespace": "abdo_n8n_info"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        -336,
        -16
      ],
      "id": "a520ec74-bae1-4782-9e51-116516bb2240",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "YzLiw3Wiw3JysaWx",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        -400,
        160
      ],
      "id": "21071b56-a08d-40d8-92b0-b27f6522bb50",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "v5LnVXhQlVKYmmjj",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "pdf",
                "value": "={{ $json.name }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        -256,
        240
      ],
      "id": "72e4aa08-4750-45b1-b7f4-f4e228087b8c",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "انت المساعد الذي يقوم بتقراء ملفات السيرة الذاتية وتستطيع الرد على اى سؤال اجابته فى السيرة الذاتية"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        224,
        -176
      ],
      "id": "03dc748d-9a48-4330-9c15-999ab9dbfc3a",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        0,
        -176
      ],
      "id": "965415ec-f212-406e-a5b8-a57423deaffb",
      "name": "When chat message received",
      "webhookId": "dcff9881-2e7f-415f-bb24-941f77749b80"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        16,
        128
      ],
      "id": "df88c37a-d6e8-4feb-8db9-2746f2d6a41f",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "v5LnVXhQlVKYmmjj",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        176,
        112
      ],
      "id": "05e7779b-9d34-4c2b-9890-b3559da64826",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1Mbfd4RJvokwEEeP5fhoyIlQrs30O9v2L",
          "mode": "list",
          "cachedResultName": "apple n8n",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1Mbfd4RJvokwEEeP5fhoyIlQrs30O9v2L"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -704,
        -16
      ],
      "id": "ab6d4f52-8c8f-4b08-bb48-f4fab700d647",
      "name": "Google Drive Trigger1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "6U1uHS6MefHoftAj",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "description": "استرجع معلوماتك عند السؤال عن عبدالمجيد والسيرة الذاتية الخاصة به "
      },
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "typeVersion": 1.1,
      "position": [
        400,
        32
      ],
      "id": "50fbbd70-5ac2-4433-b43b-315368c09b4f",
      "name": "Answer questions with a vector store"
    },
    {
      "parameters": {
        "pineconeIndex": {
          "__rl": true,
          "value": "pdf",
          "mode": "list",
          "cachedResultName": "pdf"
        },
        "options": {
          "pineconeNamespace": "abdo_n8n_info"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        336,
        224
      ],
      "id": "1906ba8f-bac6-4c7f-9259-e498edc7be27",
      "name": "Pinecone Vector Store1",
      "credentials": {
        "pineconeApi": {
          "id": "YzLiw3Wiw3JysaWx",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        336,
        368
      ],
      "id": "0d69efb8-25f5-45b5-b9b0-443d212a25e9",
      "name": "Embeddings Google Gemini1",
      "credentials": {
        "googlePalmApi": {
          "id": "v5LnVXhQlVKYmmjj",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        624,
        240
      ],
      "id": "1c82a372-8dd4-441a-87bc-1b99fb081d7a",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "v5LnVXhQlVKYmmjj",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Download file": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive Trigger1": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Answer questions with a vector store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store1": {
      "ai_vectorStore": [
        [
          {
            "node": "Answer questions with a vector store",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini1": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Answer questions with a vector store",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "8926562b-91a1-4c23-8fd4-833e4a573791",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a8c8acc7e3bd4f2a34c26cd2750a05e863a09e7547835b635127024fb4986701"
  },
  "id": "hNHmcns25XPFZYdM",
  "tags": []
}